{{#if (resultado promedio)}}
<div class="container border border-4 border-success">

    <div class="row justify-content-center mt-4">
        <div class="col-sm-12 col-md-10 col-lg-8   align-self-center">
            <h1 class="text-center">!Felicidades {{user.name}} {{user.surname}}!</h1>
            <h2 class="display-6 text-center mb-5">Has aprobado el cuestionario del módulo "{{nameModule}}"</h2>
            <p class="h2 text-center mb-3">Tus resultados son:</p>
            <p class="h4 text-center mb-3">Total de preguntas: {{totalPreguntas}}</p>
            <p class="h4 text-center mb-3">Respuestas correctas: {{respuestasAsertadas}}</p>
            <p class="h4 text-center mb-5">Resultado promedio: {{promedioDecimales promedio}}%</p>



            <div class="d-grid gap-2 d-md-flex justify-content-center pt-3 pb-5">
                <a href="/viewsUser/user" class="btn btn-success btn-lg" role="button">Página de inicio</a>
            </div>

        </div>
    </div>
</div>

{{else}}
{{!-- Falta agregar el formato --}}

<div class="container border border-4 border-danger">

    <div class="row justify-content-center mt-4">
        <div class="col-sm-12 col-md-10 col-lg-8   align-self-center">
            <h1 class="display-5 text-center">El resultado del cuestionario no ha sido lo suficiente para poder
                registrar como aprobado el módulo "{{nameModule}}"</h1>
            <h3 class="text-center mb-5">Se recomienda repasar el módulo y volver a realizar el cuestionario.</h3>
            <p class="h2 text-center mb-3">Tus resultados son:</p>
            <p class="h4 text-center mb-3">Total de preguntas: {{totalPreguntas}}</p>
            <p class="h4 text-center mb-3">Respuestas correctas: {{respuestasAsertadas}}</p>
            <p class="h4 text-center mb-5">Resultado promedio: {{promedioDecimales promedio}}%</p>

            <div class="d-grid gap-2 d-md-flex justify-content-center pt-3 pb-5">
                <a href="/viewsUser/user" class="btn btn-danger btn-lg" role="button">Página de inicio</a>
            </div>
        </div>
    </div>
</div>
{{/if}}